<div style="position: fixed; padding: 10px; border: 1px solid; width: 14%; height: 100%;">
    <h3>Menu</h3>
    <div (click)="activeConta()" class="optionsMenu">
        Conta
    </div>
    <br>
    <div (click)="activeHistorico()" class="optionsMenu">
        Histórico
    </div>
</div>
<div>
    <div *ngIf="contaActive" style="display: flex; position: absolute; right: 0; width: 78%; height: 100%; ">
        <app-conta-page style="width: 90%"></app-conta-page>
    </div>
    <div *ngIf="historicoActive" style="display: flex; position: absolute; right: 0; width: 78%; height: 100%; ">
        <app-historico-page style="width: 90%;"></app-historico-page>
    </div>
</div>