<h1 style="text-align: center;">Registro de Conta</h1>

<div>
    <table style="width: 100%;">
        <tr
            style="display: flex; justify-content: space-between; padding: 10px; border: 1px solid; border-radius: 10px;">
            <td style="width: 33%; text-align: center;">Descrição </td>
            <td style="width: 33%; text-align: center;">Tipo </td>
            <td style="width: 33%; text-align: center;">Valor </td>
            <td style="width: 33%; text-align: center;">Data </td>

            <i #iconFilter [ngClass]="['material-icons', 'clsImage']" (click)="filterList()">filter_list</i>
        </tr>
        <br>
        <tr *ngFor="let conta of allContas"
            style="display: flex; justify-content: space-between; padding: 10px; border-top: 1px solid; border-bottom: 1px solid; border-radius: 10px;">
            <td style="visibility: hidden;">{{conta.id}}</td>
            <td style="width: 33%; text-align: center;">{{conta.descricao}}</td>
            <td style="width: 33%; text-align: center;">{{conta.tipo}}</td>
            <td style="width: 33%; text-align: center;">R$ {{conta.valor | number:'2.2'}}</td>
            <td style="width: 33%; text-align: center;">{{conta.dataCriacao | date:'longDate'}}</td>
            <i id="iconDeleteConta" [ngClass]="['material-icons', 'clsImage']" (click)="deleteConta(conta.id)">
                delete
            </i>
            <i id="iconEditConta" [ngClass]="['material-icons', 'clsImage']" (click)="getValuesToEdit(conta)">
                edit
            </i>
        </tr>
        <tr *ngIf="!contas">
            <td style="text-align: center;">{{message}}</td>
        </tr>
    </table>
</div>
<br>
<form [formGroup]=" contaForm">
    <div style="display: flex; justify-content: space-between;">
        <br>
        <label style="align-self: center;">Descr: </label>
        <input id="inputDescricao" type="text" name="descricao" formControlName="descricao" />
        <br>
        <label style="align-self: center;">Tipo: </label>
        <select id="selectTipo" name="tipo" formControlName="tipo">
            <option value="Salario">Salário</option>
            <option value="Renda Extra">Renda Extra</option>
            <option value="A Pagar">A pagar</option>
        </select>
        <br>
        <label style="align-self: center;">Valor: </label>
        <input id="inputValor" type="number" name="valor" formControlName="valor" />
        <br>
        <br>
        <label style="align-self: center;">Data: </label>
        <input id="inputDataCriacao" type="date" name="dataCriacao" formControlName="dataCriacao" />
        <br>
        <br>
        <button id="btnRegistro" #btnRegistro type="submit" (click)="registerConta()">Registrar conta</button>
        <button id="btnAtualizar" #btnAtualizar type="submit" (click)="editConta()">Atualizar conta</button>
    </div>
</form>